{{!-- Show single blogpost with title, content, creator username, date created, and existing comments --}}
{{!-- existing comments show content, creator username, and date created --}}
{{!-- have option to leave a comment --}}
{{log this}}

<div class="card" id="post" data-postid="{{postId}}">
  <div class="card-content">
    <div class="media-content">
      <p class="title is-4">{{title}}</p>
      <p class="subtitle is-6">Posted by @{{user.username}} {{formatDate createdAt}}</p>
    </div>
  </div>
  <div class="content">{{content}}</div>
</div>
</div>

<div class="container is-one-third" id="updateForm" style="padding:2rem; display:none">
  <form>
    <div class="field">
      <label class="label">Title</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-normal" id="title-input" type="text" value="{{title}}">
      </div>
    </div>

    <div class="field">
      <label class="label">Content</label>
      <div class="control has-icons-left has-icons-right">
        <input class="textarea" id="content-input" type="text" value="{{content}}">
      </div>
    </div>

  </form>
</div>

{{!-- if logged in user id is equal to user id that created blog post, then show the update and delete button --}}
{{#compareID userId user.id}}
<div class="center">
  <button class="button" id="begin-update-button"><i class="fa-solid fa-pen"></i>Update post</button>

  <button class="button" id="update-button" style="display:none"><i class="fa-solid fa-pen"></i>Update post</button>

  <button class="button" id="delete-button"><i class="fa-solid fa-trash"></i>Delete post</button>
</div>
{{/compareID}}

{{log comments}}
{{#if comments.length}}
<h3 style="text-align: center; font-size: 30px;">Comments:</h3>
{{#each comments}}
<div id="comments-container">

  <div class="card">
    <div class="card-content">
      <div class="media-content">
        <p class="subtitle is-6" style="font-size: 17px">Posted by @{{this.user.username}} {{formatDate this.createdAt}}   
        <i class="fa-solid fa-trash" data-commentid="{{comments.id}}"></i></p>
      </div>
    </div>
    <div class="content">{{this.content}}</div>
  </div>
</div>

</div>


{{/each}}
{{else}}
<p style="text-align: center; font-size: 30px;">No comments yet.</p>
{{/if}}

<div class="center">
  <button class="button" id="add-comment-button"><i class="fa-solid fa-user-plus"></i>Add a comment</button>
</div>

<div id="commentBlock" style="display:none">
  <div class="container is-one-third" id="commentForm" style="padding:2rem;">
    <form>
      <div class="field">
        <label class="label">Comment</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-normal" id="comment-input" type="text">
        </div>
      </div>
    </form>
  </div>
  <div class="center">
    <button class="button" id="create-button"><i class="fa-solid fa-circle-plus"></i></button>
  </div>
</div>

<script src="/js/addComment.js"></script>
<script src="/js/updatePost.js"></script>
<script src="/js/deletePost.js"></script>