{{!-- Show blogposts created by logged in user --}}
{{!-- Have option to add a new blogpost --}}

{{log this}}
{{#if posts.length}}
{{#each posts}}
<a href="/blog/{{id}}">
  <div class="card">
    <div class="card-content">
      <p class="title">
        {{this.title}}, posted on {{formatDate this.createdAt}}
      </p>
    </div>
  </div>
</a>
{{/each}}
{{else}}
<p style="text-align: center">No posts yet.</p>
{{/if}}
<div class="center">
  <button class="button"><i class="fa-solid fa-user-plus"></i>New Blog Post</button>
</div>